<html>
    <head>
        <link rel="stylesheet" th:href="@{/assets/pico.min.css}">
        <link rel="stylesheet" th:href="@{/assets/w3.css}">
        <title>Shellin By Ywry</title>
        <link rel="icon" type="image/x-icon" th:href="@{assets/favicon.ico}">
        <meta charset="UTF-8">
    </head>
    <body>
        <div class="w3-bar w3-black w3-xlarge">
            <a href="/" class="w3-bar-item w3-button w3-mobile w3-amber">Inicio</a>
            <a href="/listarClientes" class="w3-bar-item w3-button w3-mobile">Gerenciar Clientes</a>
            <a href="/listarProdutos" class="w3-bar-item w3-button w3-mobile">Gerenciar Produtos</a>
            <a href="/listarDependentes" class="w3-bar-item w3-button w3-mobile">Gerenciar Dependentess</a>
        </div>
        <center>
            <h1>Bem-Vindos à Shellin!</h1>
        </center>
    </body>
</html>
