<html>
    <head>
        <link rel="stylesheet" th:href="@{/assets/pico.min.css}">
        <link rel="stylesheet" th:href="@{/assets/w3.css}">
        <title>Shellin By Ywry</title>
        <link rel="icon" type="image/x-icon" th:href="@{assets/favicon.ico}">
        <meta charset="UTF-8">
    </head>
    <body>
        <div class="w3-bar w3-black w3-xlarge">
            <a href="/" class="w3-bar-item w3-button w3-mobile w3-amber">Inicio</a>
            <a href="/listarClientes" class="w3-bar-item w3-button w3-mobile w3-amber">Gerenciar Clientes</a>
            <a href="/listarProdutos" class="w3-bar-item w3-button w3-mobile">Gerenciar Produtos</a>
            <a href="/listarDependentes" class="w3-bar-item w3-button w3-mobile">Gerenciar Dependentess</a>
        </div>
        <center>
            <h1>Lista de clientes</h1>
        </center>
        <div style="padding: 16px;">
            <table>
                <thead>
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">Nome Completo</th>
                        <th scope="col">e-Mail</th>
                        <th scope="col">Gênero</th>
                        <th scope="col">Editar</th>
                        <th scope="col">Remover</th>
                    </tr>
                    <tr></tr>
                </thead>
                <tbody>
                    <tr th:each = "umaPessoa: ${todasAsPessoas}">
                        <th th:text="${umaPessoa.id}" scope="row" ></th>
                        <td th:text="${umaPessoa.nome}"></td>
                        <td><a th:href="'mailto:'+${umaPessoa.email}" th:text="${umaPessoa.email}"></a></td>
                        <td th:text="${#temporals.format(umaPessoa.dataNascimento, 'dd/MM/yyyy')}"></td>
                        <td th:text="${umaPessoa.genero}"></td>
                        <td><a th:href="@{editar/{id}(id = ${umaPessoa.id})}">Editar</a></td>
                        <td><a th:href="@{remover/{id}(id = ${umaPessoa.id})}">Remover</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
